name: PR Approval Workflow

on:
  pull_request:
    branches:
      - main
  pull_request_review:
    types: [submitted]

jobs:
  check-approvals:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    steps:
      - name: Check for required approvals
        id: check-approvals
        uses: skymoore/required-approvals@v4.2.6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          read_org_scoped_token: ${{ secrets.TEST_LEV_ADMIN_GITHUB_PAT }}
          org_name: ministryofjustice
          min_approvals: 2
          limit_org_teams_to_codeowners_file: true

      - name: Run action if all required approvals are met
        if: ${{ steps.check-approvals.outputs.approved == 'true' }}
        run: |
          echo "All required approvals are met. Running the action."