name: ♻️ Detect CP Resource Wastage

on:
  workflow_dispatch:
  schedule:
  - cron: '0 0 1 * *'

permissions:
  id-token: write
  contents: write

jobs:
  detect-cp-nonprod-resource-wastage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.12"
          cache: "pipenv"
      - name: Install Pipenv
        run: |
          pip install pipenv
          pipenv install
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@6e631f05b2a5f53c9f1e27150d5e8af2f907b03b # v4.0.2
        with:
          role-to-assume: ${{secrets.AWS_COAT_GITHUB_ACTIONS_REPORT_UPLOAD_ARN}}
          aws-region: eu-west-2
      - name: Run Python script with optional manual flag
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            pipenv run python3 -m bin.detect_cp_resource_wastage --run_manually
          else
            pipenv run python3 -m bin.detect_cp_resource_wastage
          fi
        env:
          GH_TOKEN: ${{ secrets.ENTERPRISE_BILLING_TOKEN_FROM_TONY }}
          ADMIN_SLACK_TOKEN: ${{ secrets.ADMIN_SLACK_TOKEN }}
          RUN_MANUALLY: ${{ github.event_name == 'workflow_dispatch' }}
          S3_BUCKET_NAME: ${{ secrets.S3_REPORT_BUCKET }}
      - name: Report failure to Slack
        if: always()
        uses: ravsamhq/notify-slack-action@f6eea643ddcd831f1a3c4d518aefd6098ef680e6 # 2.5.0
        with:
          status: ${{ job.status }}
          notify_when: "failure"
          notification_title: "Failed to run Detect CP Resource Wastage job"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}