name: Export cost optimisation hub data

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  export-cost-optimisation-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: "3.12"
          cache: "pipenv"
      - name: Install Pipenv
        run: |
          pip install pipenv
          pipenv install
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@0d00a56e021d460a2d2bb10b9d8f94f6693a71ad # v4.0.2
        with:
          role-to-assume: ${{secrets.AWS_COAT_GITHUB_ACTIONS_READONLY_ARN}}
          aws-region: eu-west-2
      - name: Run Python script
        run: pipenv run python3 -m bin.export_opt_hub_data
      - name: Upload CSV artifact
        uses: actions/upload-artifact@v4
        with:
          name: cost-optimization-recommendations
          path: cost_optimization_recommendations.csv
